{{> header}}

<section class="hero hero--background is-medium has-text-centered">
  <div class="hero-body">
    <div class="container">
      <figure class="image is-128x128 image--centered author__img-container">
        <img src="/assets/gm.jpg" class="author__img">
      </figure>
      <h1 class="title title--big title--underlined color-inverted is-3">{{text 'authorName'}}</h1>
      <h2 class="title is-5 color-inverted">{{{text 'authorFunction'}}}</h2>
    </div>
  </div>
</section>

<div class="section has-text-centered">
  <div class="columns">
    <div class="column is-offset-1 is-10">
      <h3 class="title title--big is-5 title--italic">{{{text 'tagline'}}}</h3>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column has-text-centered">
    <div class="section">
      <figure class="image is-128x128 image--centered image--bottom-margin">
        <img src="/assets/desc1.png">
      </figure>
      <h4 class="title title--big is-5">{{text 'column1Title'}}</h4>
      <p>{{{text 'column1Desc'}}}</p>
    </div>
  </div>
  <div class="column has-text-centered">
    <div class="section">
      <figure class="image is-128x128 image--centered image--bottom-margin">
        <img src="/assets/desc2.png">
      </figure>
      <h4 class="title title--big is-5">{{text 'column2Title'}}</h4>
      <p>{{{text 'column2Desc'}}}</p>
    </div>
  </div>
  <div class="column has-text-centered">
    <div class="section">
      <figure class="image is-128x128 image--centered image--bottom-margin">
        <img src="/assets/desc3.png">
      </figure>
      <h4 class="title title--big is-5">{{text 'column3Title'}}</h4>
      <p>{{{text 'column3Desc'}}}</p>
    </div>
  </div>
</div>

<div class="section has-text-centered">
  <h4 class="title title--medium title--underlined is-5">{{text 'projectsTitle'}}</h4>
</div>

<div class="section">
  <div class="columns">
    <div class="column is-offset-1 is-6">
      <h4 class="title title--big is-5">{{text 'project1Title'}}</h4>
      <div class="content">
        <p>{{{text 'project1Desc'}}}</p>
        <p>
          <span class="tag tag__php">PHP</span>
          <span class="tag tag__html">HTML5</span>
          <span class="tag tag__css">CSS3</span>
          <span class="tag tag__bootstrap">Bootstrap</span>
          <span class="tag tag__jquery">jQuery</span>
          <span class="tag tag__mysql"><span class="tag__mysql--1">My</span><span class="tag__mysql--2">SQL</span></span>
          <span class="tag tag__redis">Redis</span>
          <span class="tag tag__android">Android</span>
          <span class="tag tag__ios">iOS</span>
          <span class="tag tag__aws">AWS</span>
        </p>
        <p>
          <a href="http://sneepets.com" target="_blank" class="button is-hollow button--link"><span class="icon"><i class="icon-link"></i></span><span>Web</span></a>
          <a href="https://play.google.com/store/apps/details?id=com.sneepets.app" target="_blank" class="button is-hollow button--android"><span class="icon"><i class="icon-android"></i></span><span>Android</span></a>
          <a href="https://itunes.apple.com/us/app/sneepets/id880003487?l=fr&ls=1&mt=8" target="_blank" class="button is-hollow button--ios"><span class="icon"><i class="icon-apple"></i></span><span>iOS</span></a>
        </p>
      </div>
    </div>
    <div class="column is-4">
      <figure class="image image--border">
        <img src="/assets/sneepets.jpg">
      </figure>
    </div>
  </div>
</div>

<div class="section">
  <div class="columns">
    <div class="column is-offset-1 is-6">
      <h4 class="title title--big is-5">{{text 'project2Title'}}</h4>
      <div class="content">
        <p>{{{text 'project2Desc'}}}</p>
        <p>
          <span class="tag tag__angular">AngularJS 1</span>
          <span class="tag tag__html">HTML5</span>
          <span class="tag tag__css">CSS3</span>
          <span class="tag tag__bootstrap">Bootstrap</span>
          <span class="tag tag__less">{Less}</span>
          <span class="tag tag__firebase">Firebase</span>
        </p>
        <p>
          <a href="https://worldneedsheroes.com/" target="_blank" class="button is-hollow button--link"><span class="icon"><i class="icon-link"></i></span><span>Web</span></a>
        </p>
      </div>
    </div>
    <div class="column is-4">
      <figure class="image image--border">
        <img src="/assets/wnh.jpg">
      </figure>
    </div>
  </div>
</div>

<div class="section">
  <div class="columns">
    <div class="column is-offset-1 is-6">
      <h4 class="title title--big is-5">{{text 'project3Title'}}</h4>
      <div class="content">
        <p>{{{text 'project3Desc'}}}</p>
        <p>
          <span class="tag tag__angular">AngularJS 1</span>
          <span class="tag tag__html">HTML5</span>
          <span class="tag tag__css">CSS3</span>
          <span class="tag tag__bootstrap">Bootstrap</span>
          <span class="tag tag__less">{Less}</span>
          <span class="tag tag__firebase">Firebase</span>
        </p>
        <p>
          <a href="https://worldwidetrendingvideos.com" target="_blank" class="button is-hollow button--link"><span class="icon"><i class="icon-link"></i></span><span>Web</span></a>
        </p>
      </div>
    </div>
    <div class="column is-4">
      <figure class="image image--border">
        <img src="/assets/wtv.jpg">
      </figure>
    </div>
  </div>
</div>

<div class="section has-text-centered">
  <h4 class="title title--medium title--underlined is-5">{{text 'contactTitle'}}</h4>
  <div class="content">
    <p>{{{text 'contactDesc'}}}</p>
    <p>
      <a href="mailto:hi@255kb.com" target="_blank"><span class="icon-email" title="Email"></span> hi@255kb.com</a>
    </p>
  </div>
</div>

<footer class="section has-text-centered">
  <h4 class="title title--medium title--underlined color-inverted is-5">{{text 'followTitle'}}</h4>

  <div class="social__container">
    <a href="https://github.com/255kb" target="_blank" title="Github" class="icon is-medium">
      <span class="icon-github"></span>
    </a>
    <a href="https://twitter.com/255kb" target="_blank" title="Twitter" class="icon is-medium">
      <span class="icon-twitter"></span>
    </a>
    <a href="http://stackoverflow.com/users/4287789/guillaume" target="_blank" title="Stackoverflow" class="icon is-medium">
      <span class="icon-stackoverflow"></span>
    </a>
    <a href="http://lu.linkedin.com/in/guillaumemonnet/" target="_blank" title="LinkedIn" class="icon is-medium">
      <span class="icon-linkedin"></span>
    </a>
    <a href="https://www.google.com/+GuillaumeMonnet" target="_blank" title="Google+" class="icon is-medium">
      <span class="icon-google-plus"></span>
    </a>
  </div>
</footer>

{{> footer}}
